@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
}

/* media query */
@media screen and (min-width: 1201px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
